@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  font-size: 12px;
  font-family: 'Kumbh Sans', sans-serif;
}

.card>* {
  flex: 1;
}

main {
  display: flex;
  align-items: center;
  /* height: 100vh; */
}

.info-col ul {
  list-style: none;
  line-height: 1.5;
}

.info-col h3 {
  font-size: 1.2em;
  font-weight: 400;
}

.info-col li {
  border-bottom: 2px solid hsl(240, 5%, 91%);
}

.card {
  display: flex;
  width: 80vw;
  background: white;
  padding: 7em;
  border-radius: 20px;
  max-width: 1000px;
  overflow: hidden;
  /* position: relative; */
}

.cube-wrapper {
  margin: 0 auto;
  position: relative;
  height: 100vh;
}

img.cube {
  position: absolute;
  z-index: 5;
  top: 320px;
  left: -92px;
  transition: .5s ease;
}

.info-col h1 {
  font-size: 3em;
  margin-bottom: .8em;
}

li.faq-item p {
  display: none;
}

li.faq-item.active h3 {
  font-weight: bold;
}

li.faq-item.active p {
  display: block;
}

h3 {
  display: flex;
  justify-content: space-between;
}

h3::after {
  content: url(./images/icon-arrow-down.svg);
}

.active h3::after {
  transform: rotate(180deg);
}

.image-col {
  position: relative;
}

.image-col .illustration {
  position: absolute;
  left: -170px;
}

img.bg-shadow {
  position: absolute;
  top: -360px;
  left: -660px;
}

/* .cube-wrapper {
  position: absolute;
  left: 130px;
  top: 190px;
} */
li.faq-item h3 {
  padding: 1em 0;
}

li.faq-item p {
  margin-bottom: 1em;
}

li.faq-item {
  cursor: pointer;
}

li.faq-item:hover h3 {
  color: hsl(14, 88%, 65%);
}

.illustration-mobile {
  display: none;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 768px) {
  .illustration, .cube, .bg-shadow {
    display: none;
  }

  .illustration-mobile, .bg-shadow-mobile {
    display: block;
    position: absolute;
    top: -108px;
    left: 20px;
  }

  .bg-shadow-mobile {
    left: 45px;
    top: 2px;
  }

  .card {
    overflow: unset;
    flex-direction: column;
    width: 338px;
    padding: 12em 2.2em 3em 2.2em;
    margin-bottom: 8em;
  }

  .info-col h1 {
    text-align: center;
  }

  main {
    height: auto;
  }

  .cube-wrapper {
    margin-top: 12em;
  }
}